<div class="jumbotron jumbotronbg">
	<div class="container text-right"><h1>Stay tuned</h1>

	<p>Something new is coming...</p>
	<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div></div>

<div class="alert alert-danger text-center" role="alert">By the way: This website is a complete fake. Don't trust it. </div>


	 <!-- /.container-fluid -->

	 <div class="panel panel-default">
<div class="panel-body">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam turpis id pellentesque consequat. Nunc urna est, eleifend ut facilisis quis, sagittis at turpis. Fusce et tellus varius, maximus risus vitae, semper metus. Vivamus blandit rhoncus nisi, sit amet commodo purus. Mauris at egestas nulla. Quisque vel sollicitudin dolor. Morbi tincidunt commodo erat quis blandit. Curabitur ut nunc eu turpis bibendum mattis ac a turpis. Cras iaculis lacus et nisl mollis, sit amet iaculis lectus vehicula. Aliquam sagittis mauris ut rutrum porttitor. Ut vel laoreet enim. Nullam egestas dui non sapien cursus dignissim.</div>
</div>

<div class="row">
  <div class="col-md-4">
    <a href="#" class="thumbnail">
<img class="img-responsive img-circle" src="http://lorempixel.com/200/200/technics/" alt="">    </a>
	<div class="caption text-center"><h3>Some</h3></div>
	</div>
	<div class="col-md-4">
    <a href="#" class="thumbnail">
<img class="img-responsive img-circle" src="http://lorempixel.com/200/200/city/" alt="">    </a>
	<div class="caption text-center"><h3>Random</h3></div>
	</div>
	<div class="col-md-4">
    <a href="#" class="thumbnail">
<img class="img-responsive img-circle" src="http://lorempixel.com/200/200/business/" alt="">    </a>
	<div class="caption text-center"><h3>Photos</h3></div>
	</div>
</div>


				 </div>
				 <div>

				 </div>
		 </div>
 </div>
